extends ../layout/base.jade

append bodyHtmlVar
	- var bodyClassname  = 'body-bg4'
block head-title
	title 口岸年会-首页

block main-title

//- append head-script
//- 	script.
//- 		var currentSigninAmounts = 0

block main-content
