extends ../layout/base.jade

append bodyHtmlVar
	- var bodyClassname  = 'body-bg0'
block head-title
	title 口岸年会-首页

block main-title

//- append head-script
//- 	script.
//- 		var currentSigninAmounts = 0

block main-content
	.start-show
		.start-show--subtitles
		.start-show--decoration
			.decoration-peach-1
			.decoration-lantern-1
			.decoration-peach-2
			.decoration-lantern-2

