extends ../layout/base.jade

append bodyHtmlVar
	- var bodyClassname  = 'body-bg2'
block head-title
	title 口岸年会-微信墙

block main-title
	h1.main-title.main-title--show

//- append head-script
//- 	script.
//- 		var currentSigninAmounts = 0

block main-content
	.vote-winner
		.winner-flashlight.winner-flashlight__small.winner-flashlight__reverse(style="left: -30px;top: 80px;")
		.winner-flashlight.winner-flashlight__big.winner-flashlight__reverse(style="left: -542px;top: 15px;")
		.winner-flashlight.winner-flashlight__small(style="right: 463px;top: 80px;")
		.winner-flashlight.winner-flashlight__big(style="right: 100px;top: 15px;")
		.winner-box.winner-box__shower
			img.winner-photo(src="#{imgRoot}/test/photo.jpg")
			.winner-crown.winner-crown__show
			.winner-name
				span 产品规划部
				span 我的跨境表演



