.card-light
	position: absolute
	pointer-events: none

.card-light__ver
	width: 128px
	height: 463px
	background: url($bg-url('/images/common/card-light-vertical.png')) 50% 50% no-repeat


.card-light__hor
	width: 1400px
	height: 270px
	background: url($bg-url('/images/common/card-light-horizontal.png')) 50% 50% no-repeat