$headVerticalTopSpace = 45px
$headVerticalBottomSpace = 45px


.body-bg0
	background: url($bg-url('/images/common/bg0.jpg')) 0 0 no-repeat

.body-bg1
	background: url($bg-url('/images/common/bg.jpg')) 0 0 no-repeat

.body-bg2
	background: url($bg-url('/images/common/bg2.jpg')) 0 0 no-repeat

.body-bg3
	background: url($bg-url('/images/common/bg3.jpg')) 0 0 no-repeat
	background-size: 100% 100%
	
.body-bg4
	background: url($bg-url('/images/common/bg4.jpg')) 0 0 no-repeat
	background-size: 100% 100%

header
	position: fixed
	top 0
	width: 100%
	padding-top: $headVerticalTopSpace
	padding-bottom: $headVerticalBottomSpace

main
	// box-sizing: border-box
	height: 100%
	overflow: hidden
	// padding-top: $siteTitleHeight + $headVerticalTopSpace + $headVerticalBottomSpace
	