html
    height: 100%
    // background-color: #ebebeb
    overflow: hidden

body
    font-family: 'Microsoft YaHei'
    font-weight: 100
    color: #000
    // background-color: #fff
    font-size: 62.5%
    overflow-y: auto
    // height: 100%
    width: $siteWidth
    height: $siteHeight
    // background: url($bg-url('/images/common/bg.jpg')) 0 0 no-repeat
    
h1,
h2,
h3,
h4,
h5,
h6
    margin 0


ul
    margin: 0
    padding 0
    list-style: none

a
    &:focus
        outline: none

