// $mainTitleHeight = 76px

.main-title
	height: $siteTitleHeight
	background-image: url($bg-url('/images/common/title.png'))
	// background-size: auto 100%
	// background-position: 50% 50%
	background-repeat: no-repeat
	background-position: 50% 0

.main-title--wxq
	background-position-y: 0

.main-title--king
	background-position-y: -($siteTitleHeight)

.main-title--queen
	background-position-y: -(2*$siteTitleHeight)

.main-title--candidate-queen
	background-position-y: -(3*$siteTitleHeight)

.main-title--candidate-king
	background-position-y: -(4*$siteTitleHeight)

.main-title--show
	background-position-y: -(5*$siteTitleHeight)

.main-title--candidate-show
	background-position-y: -(6*$siteTitleHeight)