// 覆盖默认风格样式(TODO 修改var.styl变量声明, 采用 [?=] 方式声明)

// __imageRoot参数 部署时设置 (参见Gruntfile.js中的stylus命令)
$imagesDomian              = __imageRoot is defined ? __imageRoot : '..'
$imagesVersion             = '1.1'


$siteHeight = 1080px
$siteWidth = 1920px
$siteTitleHeight = 76px


