block variable
    - var domain     = 'http://192.168.180.54/ZJP-WallNianHui'
    - var appDomain  = domain
    - var cssVersion = '1.0.0'
    - var jsVersion  = '1.0.0'
    - var version  = '1.0.0'
    //- 主导航激活索引
    - var navIndex   = 0
    - var hasAffix   = true
    - var needMobile = true