
.vote-winner
	position: relative
	width: 100%
	height: 100%

.winner-box
	position: absolute
	top 50%
	left 50%
	width: 1029px
	height: 682px
	margin-top -(@height/2)
	margin-left -(@width/2)

.winner-box__shower
	top 44%
	.winner-photo
		left 242px
		top 142px
		border-radius: 10px
		width: 573px
		height: 355px
	.winner-name
		line-height: 1.3
		top 496px
		span
			display: block


.winner-photo
	position: absolute
	top 151px
	left 306px
	width: 458px
	height: 458px
	border-radius: 50%
	z-index 1
.winner-crown
	position: absolute
	left 0
	top 0
	width 100%
	height 100%
	z-index: 2
.winner-crown__king
	background: url($bg-url('/images/winner/king-crown.png')) 0 100% no-repeat
.winner-crown__queen
	background: url($bg-url('/images/winner/queen-crown.png')) 0 100% no-repeat
.winner-crown__show
	width: 1920px
	height: 892px
	margin-left: -(1920px/2 - 1029px/2)
	background: url($bg-url('/images/winner/show-crown.png')) 0 100% no-repeat
	

.winner-name
	position: absolute
	top 530px
	width: 100%
	text-align: center
	font-size: 4.8em
	color #fff
	z-index 3
	span
		&:last-child
			margin-left: 20px




.winner-flashlight
	position: absolute
	z-index 9
	transform-origin(100% 0)
	will-change: transform
	pointer-events: none
	
.winner-flashlight__small
	width: 471px
	height: 784px
	background: url($bg-url('/images/winner/flashlight-small.png')) 0 0 no-repeat
	animation(flashlightShift-small .7s infinite alternate linear .2s)

.winner-flashlight__small
	&.winner-flashlight__reverse
		animation-name(flashlightShift-small__reverse)
		// animation(flashlightShift-small__reverse 2s infinite alternate linear  .2s)
		
	

.winner-flashlight__big
	width: 642px
	height: 979px
	background: url($bg-url('/images/winner/flashlight-big.png')) 0 0 no-repeat
	animation(flashlightShift-big 1.6s infinite linear alternate .2s)
	&.winner-flashlight__reverse
		animation-name(flashlightShift-big__reverse)
.winner-flashlight__reverse
	transform(rotateY(180deg))







@keyframes flashlightShift-small
	0%
		transform(rotate(-15deg))
		opacity: .6
	20%
		opacity: 1
	40%
		opacity: .6
	60%
		opacity: 1
	80%
		opacity: .6
		
	100%
		opacity: .6
		transform(rotate(15deg))


@keyframes flashlightShift-small__reverse
	0%
		transform(rotate(-35deg))
		opacity: .6
	20%
		opacity: 1
	40%
		opacity: .6
	60%
		opacity: 1
	80%
		opacity: .6
		
	100%
		opacity: .6
		transform(rotate(-65deg))



@keyframes flashlightShift-big
	0%
		opacity: .5
		transform(rotate(-15deg))
	100%
		opacity: 1
		transform(rotate(15deg))


@keyframes flashlightShift-big__reverse
	0%
		transform(rotate(-35deg))
		opacity: .5
	100%
		transform(rotate(-65deg))
		opacity: 1


// @keyframes flashlightShift-big
// 	0%
// 		transform(rotate(0deg))
// 	100%
// 		transform(rotate(45deg))
	