@import "../include/base/nibConfig.styl"

@import "gradients.styl"
@import "vendor.styl"
@import "normalize.styl"

@import "../include/base/reset.styl"
@import "../include/base/title.styl"
@import "../include/base/layout.styl"
@import "../include/base/card-light.styl"




@import "../include/app/start.styl"
@import "../include/app/wxq.styl"
@import "../include/app/winner.styl"
@import "../include/app/candidate.styl"